*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    --text_colour: #121212;
    --primary: #228A5E;
    --roboto: 'Roboto Condensed', sans-serif;
}
main{
    width: 50vw;
    height: 50vh;
    margin-block: 5rem;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    text-align: center;
}
main h1{
    font-family: var();
    color: var(--primary);
}
main p{
    font-family: Helvetica, Arial, sans-serif;
}
form input{
    display: block;
    height: 3rem;
    width: 98%;
    border-radius: 5px;
    border: 1px solid #121212;
    outline: none;
    margin-bottom: 4rem;
    padding-left: 1rem;
}
form button{
    display: block;
    height: 3rem;
    width: 100%;
    border-radius: 5px;
    border: none;
    background-color: var(--primary);
    color: #fff;
    outline: none;
}
/* responsiveness */
@media screen and (max-width: 650px){
    main{
        width: 90vw;
        height: 70vh;
    }
}


/* verification code page */

main #verification_container{
    width: 60%;
    height: 60%;
}
main p{
    font-family: Helvetica, Arial, sans-serif;
}
main #input_code{
    display: flex;
    gap: 2rem;
    /* align-items: center; */
    justify-content: center;
}
#input_code input{
    width: 2.5rem;
    height: 2.5rem;
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid var(--primary);
    font-size: 2rem;
    text-align: center;
}
#input_code input:hover{
    border: 1px solid var(--primary);
    box-shadow: 2px 2px 2px #9fa9a5;
}
#resend_code{
    text-decoration: none;
    color: #121212;
}
/* responsiveness for verification code page */
@media screen and (max-width: 650px){
    main #input_code{
        gap: 1rem;
    }
    #input_code input{
        width: 1.2rem;
        height: 1.2rem;
    }
}

/* success alert pop ups such as password reset and email verification*/
.pop_up{
    width: 40%;
    height: 50vh;
    margin-inline: auto;
    box-shadow: 2px 2px 2px #d6dad8;
    display: none;
}
.pop_up .tick{
    height: 30%;
    width: 30%;
    margin-inline: auto;
    margin-block: 2rem;
    box-shadow: 5px 5px 5px #9fa9a5;
    border-radius: 50%;
    padding: 1.9rem 1rem;
}
.pop_up .tick img{
    width: 100%;
    height: 100%;
}
.pop_up p{
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    margin-block: 1rem;
}
.pop_up button{
    height: 2rem;
    width: 80%;
    display: block;
    margin-inline: auto;
    background-color: var(--primary);
    color: #fff;
    border-radius: 5px;
    border: none;
}
@media screen and (max-width: 650px) {

    /* success popups responsiveness */
    .pop_up {
        width: 80vw;
        height: 35vh;
        margin-inline: auto;
        margin-bottom: 3rem;
    }

    .pop_up .tick {
        padding: 1.2rem 0.4rem;
    }
}