*{
    --text_colour: #121212;
    --primary: #228A5E;
    --secondary: #D90000;
    --gray: #898989;
    --roboto: 'Roboto Condensed', sans-serif;
}
h1, h2, h3, h4, h5{
    font-family: var(--roboto);
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav_div img{
    width: 6rem;
}
.nav_div{
    display: flex !important;
    gap: 15rem;
    /* justify-content: space-evenly !important; */
    background-color: #fbf7f7;
}
#notification_icons i{
    border: 1px solid var(--primary);
    color: var(--primary);
    border-radius: 50%;
    padding: 0.3rem;
    margin-top: 0.7rem;
    margin-right: 0.2rem;
}
#nav_profile_img{
    width: 3rem;
    height: 3rem;
    /* padding: 0.5rem; */
    border: 2px solid var(--primary);
    border-radius: 50%;
}
#nav_profile_img img{
    border-radius: inherit;
    width: 100%;
    height: 100%;
}
.fa-caret-down{
    margin-top: 0.7rem;
}
.fa-caret-down:hover{
    cursor: pointer;
}

/* This is a main section */
.parent_main{
    display: flex;
    gap: 4rem;
}
.parent_main div{
    width: 40%;
}
#img_container{
    width: 40%;
    height: 35vh;
    border-radius: 50%;
    margin-block: 1rem;
    box-shadow: 2px 2px 2px 2px rgba(50, 60, 55, 0.25);
}
.profile_div #img_container #profile-image{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid var(--primary);
    /* padding-block: 1rem; */
}
#zoom-image {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Maintain aspect ratio */
}

.controls {
    margin-top: 10px;
}
.profile_div{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    border-radius: 5px;
}
.user_values{
    font-weight: 600;
}
.edit_profle_div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}
.edit_profle_div button{
    height: 2.5rem;
    width: 90%;
    margin-inline: auto;
    border: 1px solid #898989;
    border-radius: 5px;
    background-color: #fff;
    color: var(--primary);
}



/* medical practitioner styling page */
body{
    background-color: rgb(223, 235, 252);
}
.med_profile_hero_img{
    height: 18vh;
    background-image: url('../assets/med_profile_hero.jpeg');
    background-position: center;
    background-size: cover;
}
.profile_overview{
    width: 30%;
    height: 30%;
    border: 1px solid #898989;
    border-radius: 10px;
    margin-inline: auto;
    background-color: #fff;
    margin-top: 2rem;
}
.med_profile_div{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    margin-inline: auto;
    margin-top: -3rem;
}
.med_profile_div img{
    width: 100%;
    height: 100%;
    padding-inline: 1rem;
    border-radius: 50%;
}
.Basic_info_div{
    margin: 1.75rem;
}
.Basic_info_div .value{
    font-weight: 600;
}
.booking{
    display: flex;
    width: 30%;
    margin-inline: auto;
    margin-block: 2rem;
    justify-content: space-around;
    margin-bottom: 1rem;
}
.booking #book_consult{
    background-color: var(--primary);
    color: #fff;
    padding: 0.7rem 1.2rem;
    border: none;
}
.booking #add_wlist{
    border: 2px solid #228A5E;
    padding: 0.7rem 1.2rem;
    border: none;
}
